#container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-content: : space-evenly;			
	align-items: : stretch;			
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	height: 500px;
}

.square {
	flex: 1 0 0;
	background-color: white;
	border: 1px solid black;
/*	padding: 5px;*/
	/*margin: 1px;*/
	min-width: 3%;
	min-height: 3%;
}